@import "tailwindcss";

@theme {
  --color-neon-blue: #00f0ff;
  --color-neon-green: #0aff00;
  --color-dark-bg: #0a0a0a;
  --font-mono: 'Roboto Mono', monospace;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-sans);
}
